:root {
	--borderColor: #313d4f;
	/* background-color */
	--primaryColor: #0a1330;
	--secondaryColor: #0b1739;
	--borderRadius: 10px;
	--fontColor: white;
	--linearColor-for-btn: linear-gradient(-60deg, #cb3cff 0%, #844aff 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	display: flex;
	min-height: 100vh;
	background-color: var(--primaryColor);
	color: var(--fontColor);
	gap: 20px;
}

h1 {
	font-size: 28px;
	font-weight: bold;
}


