
:root {
    --borderColor:#313D4F;
    /* background-color */
    --primaryColor:#0A1330;   
    --secondaryColor:#0B1739;
    --borderRadius: 10px;
    --fontColor: white;
    --linearColor-for-btn: linear-gradient(-60deg, #CB3CFF 0%, #844AFF 100%);
}

.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 250px;
	height: 100vh;
	background: var(--secondaryColor);
	padding: 30px 20px;
	overflow-y: auto;
}

.logo h2 {
	font-size: 20px;
	margin-bottom: 40px;
}

.profile {
	text-align: center;
	margin-bottom: 40px;
  
}

.profile img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 15px;
    padding:3px;
    background:  var(--linearColor-for-btn);
    object-fit: cover;
}

.profile .name {
	font-size: 16px;
	font-weight: 500;
}

.menu hr {
	border: none;
	border-top: 1px solid #1a1f3a;
	margin: 20px 0;
}

.menu ul {
	list-style: none;
}

.menu li {
	margin: 10px 0;
}

.btn {
	width: 100%;
	background: none;
	border: none;
	padding: 12px 20px;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.3s;
    color: white;
    text-align: left;
    
}

.onclick {
    background: var(--linearColor-for-btn);
    width: 100%;
	border: none;
	padding: 12px 20px;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.3s;
    color: white;
    text-align: left;
}

.setting-logout {
	margin-top: 30px;
}

.btn-logout {
	margin-top: 10px;
}
