body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.card-container {
 
  margin: 50px;
}
 
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.card-description {
  font-size: 1rem;
  color: #666;
}

.card-button {
  padding: 10px;
  width: 100%;
  background: rgb(25, 0, 255);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.card-container {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.span2 {
  grid-column: span 2;
}
.card {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 10px;

}
.span2 img {
  width: 100%;
  height: auto;
}
