/* Styling only */
body {
  margin: 0;
}

.wrapper {
  background-color: #333333;
  color: #444;
  padding: 20px;

  height: 90vh;
}

.item {
  background-color: #3092d7;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 3em;
}

/* Layouting only  (your work)*/

.wrapper {
  display :grid;
  grid-template-columns : repeat(3, 1fr);
  gap : 10px;
}

.a {
  grid-column : 1 / 4;
}
.b {
  grid-row : 2 / 4;
}
.e {
  grid-column : 2 / 4;
}
.f {
  grid-column : 1 / 4;
}

 
 